.card {
  perspective: 150rem;
  position: relative;
  height: 50rem;
  //-moz-perspective: 150rem;

  &__side {
    color: #fff;
    font-size: 2rem;

    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;  //hide the back or front part
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);


    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }
  }

  

  &:hover &__side--front { //.card:hover .card__side {transform}
    transform: rotateY(180deg);
  }

  &:hover &__side--back { //.card:hover .card__side {transform}
    transform: rotateY(0);
  }
}